
#localPlaylistsDiv {
  position: relative;
  bottom: 30px;
  margin-top: 80px;
}

#playlistListContainer {
  max-height: 150px;
  overflow-y: auto;
}

.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

#localPlaylistCard {
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  cursor: pointer;
}

.artistAlbum {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.artistAlbum p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

#localPlaylistName {
  height: 50px;
}