
#localPlaylistsDiv {
  position: relative;
  bottom: 30px;
  margin-top: 80px;
}

#playlistListContainer {
  max-height: 150px;
  overflow-y: auto;
}

.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}