/* css */
/* body {
  height: 100vh;
}

h1 {
  padding: 0.57rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
  position: fixed;
  width: 100%;
} */


* {
  margin: 0;
  padding: 0;
}






/* Base styles */
body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/djlpfihyu/image/upload/v1713098664/background_photo_desktop_cre4h6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  padding-top: 10px;
}

.track-play-list-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 37%;
  padding: 2.27rem 1.16rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000;
}


.Playlist-track-container {
  width: 100%;
  max-height: 370px;
  overflow-y: auto;
} */

/* Responsive design */
@media (max-width: 1200px) {
  .track-play-list-container {
    flex-direction: column;
    width: 90%;
  }

  .results-container,
  .list-container {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .results-container,
  .list-container {
    padding: 0.5rem;
  }

  .search-input {
    width: 80%;
  }

  .search-button {
    width: auto;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  .track-play-list-container {
    width: 100%;
    padding: 1rem;
  }

  .results-container,
  .list-container {
    padding: 0.25rem;
    height: auto;
  }

  .div-button {
    width: 100%;
  }

  .div-button button {
    width: 100%;
  }
}

